#deleteInvoice{
  position:absolute;
  z-index: 3 !important;
  background-color: white;
  padding: 10px;
  align-self: center;
  max-width:100vw;
  left:40vw;
  display: none;
  border-radius: 5px;
}
