/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//----------- Table Styling ----------------------
.table-container
{
  padding-right: 20px;
  width: 1000px;
  max-height: 80vh;
  overflow: auto;
  max-width: 93vw;
  // overflow: auto;
  .hover-table:hover td{
    background-color: #3f51b5;
    cursor: pointer;
    color: white;
  }
}

//-------------- Button styling ---------------------//
div button.space-top-bottom
{
  margin-top:10px;
  margin-bottom: 10px;
}

div button.space-bottom
{
  margin-bottom: 10px;
}

div .space-right
{
  margin-right:10px;
}

.green-button{
  background-color: green !important;
  color: white;

  &:hover{
    background-color: rgba(0, 128, 0, 0.767) !important;
  }
}

.blue-button:hover{
  background-color: #3f51b5cc;
  color: white;
}

.red-button{

  background-color: rgb(230, 33, 33) !important;
  color: white;

  &:hover{
    background-color: rgba(230, 33, 33, 0.698) !important;
  }
}

//filter bar styling
div .mat-form-field{
  width: 98%;
}

span.line-down{
  font-size: 30px;
}


//-------------------- sorting styles for datatables -----------------------//
th.sort-header {
  padding-top:10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 3px;
  vertical-align: top;
  background-color: white;
  white-space: nowrap;
  font-size: 20px;
  cursor: pointer;

  .mat-icon{
    transition: all 0.4s ease-in-out !important;
    font-size: 20px;
    padding-right: 0px !important;
    color: transparent;
    white-space: nowrap;
  }

  &.hover:hover{
    .mat-icon{
      font-size: 20px;
      color: blue;
      transform: rotatez(180deg);
    }
  }

}



// @media only screen and (max-width: 285.69px) {
//   .table-container .mat-header-cell
//   {
//     top: 56px !important;
//   }
// }
