#add-customer
{
  position: relative;
}

#create-customer-button
{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
}

div{
  label{
    font-size: 14px;
    font-weight: bold;
  }
}

.table-section{
  min-width: 100%;
}