//---------- Router Outlet container ----------------
.container
{
  position: absolute;
  top: 130px;
  left: 10px;
}

@media only screen and (max-width:280px) {
  .container
  {
    position: absolute;
    top: 70px;
    left: 10px;
  }

}
