.mat-mdc-list-base, .mdc-list{
    padding: 0px !important;
}

.mat-list-item:hover{
    background-color: lightblue !important;
}

.side-nav{
    display: flex !important;
    align-items: center !important;
}