<div class="invoice-container">
  <div id="invoice-header">
    <div>
      <span><label>Invoice Number:</label> INV{{invoiceNumber}}</span>

    </div>
    <div>
      <span><label>Name:</label> {{customer.firstName}} {{customer.lastName}}</span>
    </div>

    <div>
      <span><label>Company:</label> {{customer.companyName}}</span>
    </div>

    <div>
      <span><label>Email:</label> {{customer.emailAddress}}</span>
    </div>

    <br>

  </div>

  <form class="invoice-filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Invoice Date</mat-label>
      <input matInput required [matDatepicker]="picker" [(ngModel)]="invoiceDate" [value]="invoiceDate" name="invoiceDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    
    <mat-radio-group name="gst"
      aria-labelledby="gst-radio-group-label"
      class="gst-radio-group"
      [(ngModel)]="isGST">
      <label id="gst-radio-group-label">GST:</label>
      <mat-radio-button class="gst-radio-button" *ngFor="let gstItem of gstOptions" [value]="gstItem">
        {{gstItem}}
      </mat-radio-button>
    </mat-radio-group>

    <span class="line-down">|</span>

    <mat-radio-group name="paid"
    aria-labelledby="paid-radio-group-label"
    class="paid-radio-group"
    [(ngModel)]="isPaid">
    <label id="paid-radio-group-label">Paid:</label>
      <mat-radio-button class="paid-radio-button" *ngFor="let paidItem of paidOptions" [value]="paidItem">
        {{paidItem}}
      </mat-radio-button>
    </mat-radio-group>

    <span class="line-down"></span>

    <button class="red-button space-right space-bottom" id="delete-invoice" mat-raised-button (click)="openDeleteInvoiceDialog()">Delete Invoice</button>

    <span class="line-down"></span>

    <button class="green-button space-right space-bottom" id="delete-invoice" mat-raised-button (click)="downloadPDF()">Download Invoice</button>
  </form>

  <section class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="mat-display-1">Details</th>
        <td mat-cell *matCellDef="let element">
          <input class="item-details" type="text" value="{{element.details}}">
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="mat-display-1">Price</th>
        <td mat-cell *matCellDef="let element">
          <input class="item-price" type="number" value="{{ element.price }}">
        </td>
      </ng-container>
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef class="mat-display-1">quantity</th>
        <td mat-cell *matCellDef="let element">
          <input class="item-qty" type="number" value="{{ element.qty }}">
        </td>
      </ng-container>
      <ng-container matColumnDef="sub-total">
        <th mat-header-cell *matHeaderCellDef class="mat-display-1">Line Total</th>
        <td mat-cell *matCellDef="let element">
          {{element.price != null ? "$"+(element.price * element.qty) : "null"}}
        </td>
      </ng-container>
      <ng-container matColumnDef="bin">
        <th mat-header-cell *matHeaderCellDef class="bin"></th>
        <td mat-cell *matCellDef="let element"><mat-icon mat-cell aria-label="customers icon" (click)="removeItem(element)">delete</mat-icon></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-table"></tr>
    </table>
  </section>

  <form>
    <button id="add-invoice-item" class="space-right" mat-raised-button (click)="addItem()">Add Item</button>
    <button id="save" mat-raised-button color="primary" (click)="save()">Save</button>

  </form>

  <div class="invoice-footer">
    <div class="invoice-calculations">
      <h1>Subtotal: <span>{{invoiceCalculation.subtotal}}</span></h1>
      <h1>GST: <span id="gst-amount">{{invoiceCalculation.gst}}</span></h1>
      <h1>Total: <span>{{invoiceCalculation.total}}</span></h1>
  </div>
</div>
