//------------- Nav Buttons -----------------//
.nav-button{
  margin-left: 10px;

  &:hover{
    background-color: white !important;
  }
}



//--------------- active buttons ---------------------//
.active-link
{
 background: lightgray !important;
  color: black;
  font-weight: bolder;
}