
<!-- <mat-toolbar class="large-nav-bar" color="primary">
  <mat-toolbar-row>
    <span>Invoicing Application</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a class="hover-button margin-right larg-nav-buttons" routerLink="/customers" routerLinkActive="active" mat-flat-button color="primary">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="customers icon">account_circle</mat-icon>
      <span>Customers</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>


<mat-toolbar class="compact-nav-container" id="compact-nav-container" color="primary">
  <mat-toolbar-row>
    <mat-icon id="show-menu-button" class="hover-button margin-right" (click)="showCompactNav()">menu</mat-icon>
    <span>Invoicing Application</span>
  </mat-toolbar-row>
</mat-toolbar>

<div id="menu-list-container">
  <button class="hover-button compact-nav-button" routerLink="/customers" routerLinkActive="active-grey">
    <mat-icon aria-hidden="true" aria-label="Go to customers page">account_circle</mat-icon>
    <span>Customers</span>
  </button>
</div>
<div id="gray-background" (click)="hidePopups()">
</div> -->

