<mat-toolbar color="primary">
  <button *ngIf="IsCompactNav" mat-icon-button class="hamburger-menu" (click)="toggleSideNav()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Invoice App</span>

  <a mat-raised-button
  routerLink="/customers"
  routerLinkActive="active-link"
  class="nav-button"
  *ngIf="!IsCompactNav"
  >
    <mat-icon aria-hidden="true" aria-label="Go to customers page">account_circle</mat-icon>
    <span>Customers</span>
  </a>
</mat-toolbar>